[2021-12-10 01:36] tabrown2000 opened #2 "Need error handling for lines 134/135"
Lines 134 & 135 occasional throw a "no such element" error, which breaks the main while loop and exits the script. I fixed it by putting a simple try/except block around lines 131-172. Didn't make a pull request cause there's definitely a better solution.

Session info: chrome=96.0.4664.93, macOS Monterey v12.0.1

[2021-12-10 02:47] pws1453 commented on #2
Same issue here. MacOS Monterey, Chrome Version 96.0.4664.93.

[2021-12-10 03:00] tabrown2000 commented on #2
More Info: it seems to happen when the page doesn't load properly (i.e. blank white screen). Lines 134/135 are looking for the "topBar" attribute, but if the page doesn't load properly, it errors out. Should probably just break the loop and have the window close and reopen then try again

Also unrelated suggestion, should have a list of more resumes (png, pdf, docx, etc). Upload limit is 9.76MB, s

[2021-12-10 03:02] pws1453 commented on #2
My PR should fix this issue, I found that I was running into issue where the code was trying to access URL[4], which doesn't exist.

[2021-12-10 04:16] tabrown2000 commented on #2
Same lines now running into error but for new reason - "Account already exists" page comes up instead of "account created successfully." Looks like we might run out of fake emails lmao

Surrounding it with a try/except block still handles the error, but it's inefficient. Script should probably be broken into functions to make error handling easier

[2021-12-10 06:49] pws1453 opened #4 "Email generation - Email already in use."
Emails used to generate accounts are already registered with Kellogg's. Program execution stops at this point.

[2021-12-10 06:50] pws1453 commented on #2
I created a new issue for this here: https://github.com/SeanDaBlack/KelloggBot/issues/4
Much of the code does need to be restructured.

[2021-12-10 08:21] Audibles commented on #2
I just made a PR that should hopefully fix this! was able to run the script for awhile with no issues

[2021-12-10 09:00] pws1453 commented on #2
Your script looks great! Once it's.... well... not 4am here, and your PR gets accepted, I can merge the work I've been doing on relating to making a couple internal data strctures (read... classes).

[2021-12-10 10:18] carlvaneijk opened #6 "Cycle IP addresses"
This isn't an issue per se, but if there are multiple submissions from the same ip address, it's likely they can just filter for non-unique on their database and drop those submissions.

Good work so far!

[2021-12-10 10:49] Kevinsky86 commented on #6
Programmer can't really fix that problem.
Maybe you can utilize TOR for this.

[2021-12-10 10:57] Kevinsky86 commented on #6
Dev can't really fix this.
Maybe you can use TOR for this. Or a VPN service.

[2021-12-10 11:19] millysecurity commented on #6
Dev could provide a way to implement proxies if he wanted. That'd solve the problem, doubt most of yall know how to use those though.

[2021-12-10 13:46] ian-flores opened #7 "Regenerate the resume with certain frequency"
You can write a GitHub Action that generates a new resume with a new filename and different content so that it's not flagged by the file being the same and having the exact same hash.

[2021-12-10 16:02] TechnologyClassroom opened #8 "Missing LICENSE"
I see you have no LICENSE file for this project.  The default is copyright.

I would suggest releasing the code under the GPL-3.0-or-later or AGPL-3.0-or-later license so that others are encouraged to contribute changes back to your project.

[2021-12-10 19:45] edoubledy opened #13 "You've had a code review à la front page on Hacker News"
You might be interested in the fact you both hit front page on Hacker News 🎉 and got a free code review 😂

https://news.ycombinator.com/item?id=29511616

Fun project idea!

[2021-12-10 20:46] mdrews93 commented on #6
I wrote a very similar jupyter notebook and I use [Mullvad VPN](https://mullvad.net/en/) for changing IPs before each new application. It comes with a command-line tool, so within the notebook I just need to use `!` to execute bash commands. Here's the simple function:
[code]
Ideally it would use IPs local to the postings, but Mullvad doesn't provide IPs for the four states, so I just opted for a

[2021-12-10 21:31] pws1453 opened #14 "Headless firefox compatibility"
Per code review https://news.ycombinator.com/item?id=29511616
It's probably a good idea to allow this to be compatible with headless firefox.

[2021-12-10 22:35] Dhamma-valence opened #15 ""Syntax errors" regardless of python version used"
This is on Debian Sid, so technically unsupported regardless, but perhaps the fix will be something simple.

When using either `python` which seems to be the correct python version based on the README, or `python3`, I get syntax errors, yet they're different depending on the version of python used. I don't know python well enough yet to say why this is happening, but perhaps you'll have an idea.

[2021-12-10 22:39] joeyagreco commented on #4
I also ran into this issue
![image](https://user-images.githubusercontent.com/57115019/145650237-8e36d894-1c34-43ca-a7f3-34a2e7319b42.png)

[2021-12-10 22:42] Egarok commented on #15
Match statements require Python 3.10 or newer:
https://www.pythonpool.com/match-case-python/

[2021-12-10 23:19] Audibles commented on #13
hahaha this is awesome, ty for the link

[2021-12-10 23:39] rpolley opened #18 "Use less obviously fake fake email addresses"
Currently it seems like it would be fairly easy to set up an automated system to detect the fake email addresses this uses, for example the first four I got were all either `example.org` or `example.net` addresses, it might be worth it to throw in some more domains into the mix to throw a wrench in that.

[2021-12-11 00:16] joeyagreco commented on #15
What @Egarok said... use Python 3.10 and that should fix it.

[2021-12-11 01:53] pws1453 commented on #4
I'm not sure how to resolve this, honestly. Either we could either store a list of used emails (usedemail.conf or the such), or we could make something that this application hooks into that would store a collection of used emails from many users. Once the direction we want to go in is clarified, implementation shouldn't be difficult.

[2021-12-11 02:24] pws1453 commented on #18
Should be resolved per this commit https://github.com/SeanDaBlack/KelloggBot/commit/0de5def9edabce23c2e983d87817975f6e6e42ef.

[2021-12-11 02:25] pws1453 commented on #8
I don't know how @SeanDaBlack would like this licensed, but it should be considered, and soon.

[2021-12-11 03:11] pws1453 commented on #8
This is resolved per commit https://github.com/SeanDaBlack/KelloggBot/commit/30cf003a2f8ae682d48e2116bd2134d0a23e60f8.

[2021-12-11 03:47] KathrynElrod opened #23 "Well, they added a reCaptcha -_-"
`failed to fill out app and submit: Message: no such element: Unable to locate element: {"method":"xpath","selector":"//*[@id="109:topBar"]"}`

[2021-12-11 04:40] #2 closed

[2021-12-11 05:30] Jonodonozym commented on #23
Easy to bypass by clicking the headphones option, downloading the mp3, and putting the mp3 into an speech-to-text converter like this one: https://beecut.com/speech-to-text-online

[2021-12-11 11:55] jmrushing commented on #23
@KathrynElrod @Jonodonozym I've never done a pull request on github so I'm not familiar with all the proper best practices, but if either of you are free to do a code review, feel free to steal my work and do your own pull request...
https://gist.github.com/jmrushing/f30f8b1c41111505182e6ceb89ce92bb

It's just a modified req.py based on @Jonodonozym 's previously linked code snippet. You'll have t

[2021-12-11 12:26] splpaul commented on #23
Just tested @jmrushing 's updated req.py and it works perfectly on my end, it's defeated all reCaptchas

[2021-12-11 15:36] BigweldIndustries commented on #23
Wow, that's incredible! I am going to add that to my fork.

[2021-12-11 17:07] BigweldIndustries commented on #23
Alright, my crossplatform fork now contains multithreading, auto install chromedriver, and captcha bypass. may add some form of making it headless

[2021-12-11 17:29] Jaysyn904 opened #24 "[SUGGESTION] Phone Extensions"
I just got this set up this morning, but I noticed that every single generated phone number has an extension.  May want to change that up.

[2021-12-11 17:38] pws1453 commented on #23
I made a fork of main here such that chrome will run headlessly. I've submitted a PR here https://github.com/SeanDaBlack/KelloggBot/pull/25/files.

[2021-12-11 17:41] #14 closed

[2021-12-11 17:45] joeyagreco commented on #23
@jmrushing I [put out a PR ](https://github.com/SeanDaBlack/KelloggBot/pull/26)to implement your changes and cleaned it up a bit... NICE JOB!!

[2021-12-11 18:15] Jaysyn904 commented on #24
Ok, I have seen a few "normal" phone numbers, so maybe is was dumb luck I had 20 in a row with extensions.

[2021-12-11 18:15] #24 closed

[2021-12-11 22:49] MeaningOf42 commented on #23
I put out a separate PR I'd been working on before I saw yours also based on @jmrushing 's code.

[2021-12-12 00:52] #8 closed

[2021-12-12 03:57] OrangeHoopla opened #30 "LaTeX resume generator"
Thinking it might help obfuscate applications if each resume is custom and aligns with the rest of the data present. Willing to work on it just want to know if its something worth completing first

[2021-12-12 04:16] tabrown2000 commented on #30
Pull request #17 has used poppler (external pdf generator) to generate fake pdf resumes with randomized data. You could use some of those dictionaries as a base. The way it's currently written, the pdf is converted to a png using pdf2image and submitted as a png rather than a pdf.

I've changed my local copy to submit a mixture of pdfs and pngs with an assortment of file naming schemes. LaTeX coul

[2021-12-12 04:48] cribdragg3r opened #31 "Looks like they messed with Capta Attribute Names"
[code]

[2021-12-12 16:22] bolshoytoster commented on #31
I think this is because it looks for the element before it is loaded. As a temporary solution, you should be able to go to `main.py` line 164:

https://github.com/SeanDaBlack/KelloggBot/blob/66dbcd20fc8e77b2660a4ed1ec3838fb57173dee/main.py#L162-L164

And replace the `10` with a `20`.

[2021-12-12 16:42] bolshoytoster commented on #31
I've opened a pull request to resolve this.

[2021-12-12 17:24] pws1453 commented on #4
Seems to be resolved enough - closing this for now.

[2021-12-12 17:24] #4 closed

[2021-12-12 17:50] joeyagreco opened #38 "Invalid Session ID After Running for a While"
`FAILED TO START DRIVER: Message: element not interactable: element has zero size
  (Session info: chrome=96.0.4664.93)

Traceback (most recent call last):
  File "C:\Users\14143\PycharmProjects\KelloggBot\main.py", line 285, in main
    fill_out_application_and_submit(driver, random_city, fake_identity)
  File "C:\Users\14143\PycharmProjects\KelloggBot\main.py", line 166, in fill_out_application_

[2021-12-12 19:19] ChrisCoe commented on #15
@bolshoytoster has PR https://github.com/SeanDaBlack/KelloggBot/pull/35 which should help with python 2 support.

[2021-12-12 19:24] bolshoytoster commented on #15
@ChrisCoe cheers, I've fixed the '`print = functools.partial(print, flush=True)`' error and removed the match statements. It should hopefully work for python2 if you clone my fork (https://github.com/bolshoytoster/KelloggBot).

[2021-12-12 19:34] bolshoytoster commented on #38
[This](https://stackoverflow.com/questions/62003082) stackoverflow question seems related:

We should scroll to the element before clicking using something like:
[code]
Before clicking anything off-screen.

[2021-12-12 19:43] bolshoytoster commented on #38
Looking into the stack trace, it looks like the error comes from `driver.implicitly_wait(10)`, which is strange.

In my branch (https://github.com/bolshoytoster/KelloggBot), I use `WebDriverWait` instead, you could try using that instead until my pr gets merged.

[2021-12-12 20:05] Jaysyn904 commented on #38
Came here to post this error as well.

successfully submitted application
failed to start driver: Message: no such element: Unable to locate element: {"method":"xpath","selector":"//*[@id="page_content"]/div[2]/div/div/div[2]/div/div/div[2]/a"}
  (Session info: chrome=96.0.4664.93)

Traceback (most recent call last):
  File "req.py", line 415, in main
    driver = start_driver(rand_num)
  File "re

[2021-12-12 20:24] bolshoytoster commented on #38
@Jaysyn904 Your error is separate, it's when it tries to click something that hasn't loaded yet. This is fixed on my fork (https://github.com/bolshoytoster/KelloggBot) if you can clone that instead.

[2021-12-12 20:39] virtadpt commented on #30
You may find the information in this birbsite thread of use:

https://twitter.com/Coding_Career/status/1454293034179317764

[2021-12-12 21:02] cribdragg3r commented on #31
Not sure if that was it. I did change the wait time from 10 to 20: Here's a image of the page result:

![image](https://user-images.githubusercontent.com/12776422/145729434-73332ac5-cf8b-45d2-bb47-25a9e253a095.png)

[2021-12-12 21:04] bolshoytoster commented on #6
We could use an array of proxies and pick a random one each time.

[2021-12-12 21:16] kpcyrd commented on #6
If there's a way to configure socks5 you could use it with https://github.com/kpcyrd/laundry5

[2021-12-12 21:21] cribdragg3r commented on #31
Got it working. I was not on the most recent commit. This issue can be closed and you are a BADASS! Great job.

[2021-12-12 21:21] #31 closed

[2021-12-12 21:34] pws1453 opened #44 "reCaptcha complains about automated queries when running headlessly"
Throwing an issue found during development of https://github.com/SeanDaBlack/KelloggBot/pull/25 here. Recaptcha seems not to like Chrome's headless browser/
[code]

[2021-12-12 21:37] bolshoytoster commented on #6
If we used proxies would we just use ones in the states the jobs are advertised in or would it not matter?

[2021-12-12 21:37] bolshoytoster commented on #6
@kpcyrd if we did, we'd have to either find a python version of that or write it ourselves since that's in rust

[2021-12-12 21:50] bolshoytoster commented on #44
There's a [patched version of the chromedriver](https://github.com/ultrafunkamsterdam/undetected-chromedriver) that is designed to be undetectable to things like this. You could try to implement that.

[2021-12-12 22:02] kpcyrd commented on #6
the program acts as a proxy server and binds to a local port (eg. `127.0.0.1:1337`), you'd then need to configure headless chrome to use `127.0.0.1:1337` as a socks5 proxy.

[2021-12-12 22:23] bolshoytoster commented on #6
@kpcyrd oh sorry, it would still be a pain to also have to install rustc for this though.

[2021-12-12 23:29] pws1453 commented on #44
Me and \@bolshoytoaster have been trying to work on this in https://github.com/SeanDaBlack/KelloggBot/pull/25. If anyone else has any ideas, throw em here or at the PR.

[2021-12-13 00:39] BigweldIndustries commented on #44
I believe the error may be due to the fact you have sent too many captchas in one day. I encountered it myself working on a non-headless chromedriver.

[2021-12-13 01:35] bolshoytoster commented on #44
@BigweldIndustries, @pws1453

If this is the case we could try to make it think we're using a different machine, possibly linking back to #6.

[2021-12-13 03:31] KathrynElrod commented on #30
You've had success submitting as PDFs? I had to add the PNG conversion because uploading a PDF auto-populated some new fields and so required more interaction with the page.

[2021-12-13 03:34] KathrynElrod commented on #30
I hadn't thought of using LaTeX to generate the resumes, I really like that method rather than the library I used. Plus, we could download a bunch of resume templates (https://www.overleaf.com/gallery/tagged/cv), modify them to be auto-fillable by the script, and submit much better looking resumes. Hmm...

[2021-12-13 03:35] #18 closed

[2021-12-13 03:37] KathrynElrod commented on #23
Closed by #28.

[2021-12-13 03:37] #23 closed

[2021-12-13 03:38] KathrynElrod commented on #13
Closing because this isn't an issue per se.

[2021-12-13 03:38] #13 closed

[2021-12-13 03:38] KathrynElrod commented on #7
Resolved by #17.

[2021-12-13 03:38] #7 closed

[2021-12-13 04:55] pws1453 commented on #6
Python's Selenium implementation supports the use of proxies natively, it's finding good proxies that we can use that will be a challenge.

[2021-12-13 07:58] bolshoytoster commented on #6
@pws1453 if we were only using proxy servers in the states the jobs were advertised it would be pretty much impossible to get a list of *good* proxies.

[2021-12-13 08:12] millysecurity commented on #6
The issue isn't the proxy location, or even if it's a good proxy. The only issue is using the same IP repeatedly to do this. If there's multiple submissions from the same IP then they can figure that out. The goal is just to use a different IP everytime, so a proxy from anywhere would work fine. If they actually took the time to check where the ip address is from then yeah like you said we would h

[2021-12-13 09:02] tabrown2000 commented on #44
`options = webdriver.ChromeOptions()
options.add_argument('--incognito')
driver = webdriver.Chrome(ChromeDriverManager().install(), options=options)`

I haven't tried this in headless mode yet, but I haven't had it block me while using this. I think the captcha blocks you based on browser cookies. Switching VPN servers also fixes it, but obviously that's not a great option.

[2021-12-13 11:23] tabrown2000 commented on #30
Just submitted a PR #48 to show how I did it

[2021-12-13 14:24] bolshoytoster commented on #15
I’ve merged my fork with @pws1453‘s (#25). Clone that if you need python2 support.

[2021-12-13 15:11] bolshoytoster commented on #44
@tabrown2000

This increases the amount of times you can do it before getting locked out, it’s useful but unfortunately it’s not a permanent solution.

Until we find something better we should use this.

[2021-12-13 15:15] tabrown2000 commented on #44
Yeah I've noticed that too. It lets me run it probably 50+ times before it locks me out, then I have to switch VPN servers. My guess is that the captcha is using multiple factors in conjunction to determine when to lock someone out.

[2021-12-13 15:25] tabrown2000 opened #49 "Salary numbers?"
The salary range question on the application is given a random number between 15 and 35, could this be done in a more convincing way? I'm assuming it was written with the thought that "15" means "I expect a salary of $15,000." But then why wouldn't it just be 15000?

It's also asks for "Salary Range," so maybe we should be inputting something like "$25,000-$30,000" or "20k-25k"
Also, I don't think

[2021-12-13 15:47] bolshoytoster commented on #44
@tabrown2000 if we use this in conjunction with #6 we should have this problem solved.

If we can find some good public proxy servers we can make a array of them to rotate around automatically. That would stop people having to manually switch VPN servers.

[2021-12-13 15:48] bolshoytoster commented on #49
@tabrown2000 I can work on this if you want.

[2021-12-13 15:56] tabrown2000 commented on #49
@bolshoytoster Sure, go for it. I just wanted to make sure I wasn't the only one who thought it was kind of a strange thing to be putting in that entry

[2021-12-13 15:58] bolshoytoster commented on #49
@tabrown2000 looking at it now, I'm not sure why it's between 15-35 instead of 15,000-35,000.

There's probably a reason for it so I'll leave that as it is.

[2021-12-13 16:17] bolshoytoster commented on #49
I've added a commit to [my fork](https://github.com/bolshoytoster/KelloggBot). I'm not sure if i can open a pr to this repository since it contains some experimental stuff from #25; I could open a pr to that fork if @pws1453 doesn't mind.

[2021-12-13 16:38] tabrown2000 commented on #49
@bolshoytoster I added your change to my PR (#48) since #25 is still a draft. I still feel like it should be in terms of thousands of dollars, but I'll wait to hear if anyone more people have an opinion on that

[2021-12-13 16:53] KathrynElrod opened #50 "Now they're doing email verification"
This seems much harder to get around, yeah?

[2021-12-13 16:55] bolshoytoster commented on #49
@tabrown2000 if you want to change it to thousands you can change the 15, 30, 35 and 5s to thousands i.e.
[code]
If you want thousand separators, e.g. 15,000 instead of 15000, you could use the `format(n, ",")` function:
[code]

[2021-12-13 17:06] bolshoytoster commented on #50
@KathrynElrod i'm surprised they didn't do this from the start, I think your suggestion of using guerrillamail will be fine until they start filtering out domains.

I wouldn't be surprised if there was a Kellogs dev going through these repos.

[2021-12-13 17:10] KathrynElrod commented on #50
at least we're costing them headache and money, haha

[2021-12-13 17:26] cafeclimber commented on #50
Just from quick searching, it looks like [10minutemail](https://10minutemail.com/) give a random domain? Idk how easy integration would be though

[2021-12-13 17:28] bolshoytoster commented on #50
@cafeclimber we could use a combination of multiple of them.

Currently this issue is top priority so I'm starting work on a fix now.

[2021-12-13 17:54] johnmarston139 commented on #50
branch? @bolshoytoster

[2021-12-13 17:57] bolshoytoster commented on #50
@johnmarston139

I'm currently working on [my own fork](https://github.com/bolshoytoster/KelloggBot) but I could move it to a branch if you'd prefer.

[2021-12-13 18:03] KathrynElrod commented on #50
https://10minutemail.net/address.api.php

currently gets a brand new address each time it's called, but there must be a way to pass in a user as a parameter.

[2021-12-13 18:04] johnmarston139 commented on #50
no worries, was just curious how you were bypassing the email verification. since this project is Python based and we all love 10minutemail, this may be useful https://pypi.org/project/python-10minutemail/

Scrape the inbox for the one-time code and send it to verify email; continue execution :)

[code]

[2021-12-13 18:07] pws1453 commented on #49
Open a new PR, I'll look through it.

[2021-12-13 18:09] pws1453 commented on #50
I know some work has been done on my fork - I don't mind making a few diff branches if needed.

[2021-12-13 18:13] pws1453 commented on #50
This branch exists if you need it - should be able to accept PRs for a while
https://github.com/pws1453/KelloggBot/tree/email-verification

[2021-12-13 18:15] KathrynElrod commented on #50
@johnmarston139 That looks basically perfect, nice find!

[2021-12-13 18:43] tabrown2000 commented on #50
FYI: the bottom of the python-10minutemail github has this warning:

Just switching VPN servers might not be sufficient. Maybe the proxy server thing that some people have been experimenting with? Idk if we wanna abuse 10minutemail though, they're not the capitalist scum that we're after

[2021-12-13 18:57] bolshoytoster commented on #50
@tabrown2000 I'm still working on the guerrilla mail verification as well, that doesn't say anything about blocking, the closest I could find was:

If we alternate between the two providers it should ease the strain on their servers.

[2021-12-13 19:08] johnmarston139 commented on #50
I like this solution! Alternating between 2 providers may spread the load enough

[2021-12-13 19:10] KathrynElrod commented on #50
We could also way lower the rate that the tool runs at. With even just 20 people running the script every 10 minutes, that's 120 applications an hour, which would still be enough to mess up their system.

[2021-12-13 19:11] johnmarston139 commented on #50
I havent actually gotten a chance to play around w/ the package yet, just found it doing a quick preliminary search. Apologies if it's borked :P I'm all for w/e the better solution is

[2021-12-13 19:13] tabrown2000 commented on #50
Here's a stretch - I found a github repo where someone used Go to create their own guerilla mail server. Just throwin' that out there, I don't even know Go or have a computer to dedicate as a server, but...

https://github.com/flashmob/go-guerrilla

[2021-12-13 19:16] bolshoytoster commented on #50
@tabrown2000

I didn't know there's a python module for guerrilla, I was just sending the api requests manually.

I've nearly finished doing it this way so I'll submit a pr when I do.

[2021-12-13 19:27] PM-ME-BUMBLEBEES opened #52 "FAILED TO CREATE ACCOUNT: list index out of range"
I'm on a mac, I have everything installed and set up. When I run the bot, and it goes to create an account, I get this error message: FAILED TO CREATE ACCOUNT: list index out of range

What am I doing wrong?

[2021-12-13 20:35] bolshoytoster commented on #50
@pws1453 I've opened the [pr](https://github.com/pws1453/KelloggBot/pull/3) if you want to test it out.

[2021-12-13 20:43] bolshoytoster commented on #52
If you change the
[code]
to
[code]
Notice there are 4 spaces removed before `generate_account(driver, fake_identity)`, you should get the full stack trace.

If you get the error again can you post the full error please.

[2021-12-13 20:48] PM-ME-BUMBLEBEES commented on #52
Here is the full traceback:

Traceback (most recent call last):
  File "/Users/annabrown/Desktop/KelloggBot-main/main.py", line 297, in <module>
    main()
  File "/Users/annabrown/Desktop/KelloggBot-main/main.py", line 279, in main
    generate_account(driver, fake_identity)
  File "/Users/annabrown/Desktop/KelloggBot-main/main.py", line 158, in generate_account
    solveCaptcha(driver)
  File "/

[2021-12-13 21:00] bolshoytoster commented on #52
Ah, that'll be because they just removed the recaptcha, also this repo currently doesn't work because they just added email verification which this repo doesn't handle for.

If you can clone [my repo](https://github.com/bolshoytoster/KelloggBot) instead, that should hopefully get around it.

[2021-12-13 21:14] pws1453 commented on #50
it's pulled - was in a meeting

[2021-12-13 21:15] bolshoytoster commented on #50
@pws1453 no worries.

[2021-12-13 22:40] cafeclimber commented on #50
Hopefully I'm being helpful and not just spamming a ton of different services, but I also found [mail.tm](https://docs.mail.tm/) which has an api for numerous languages (including Python). From what I can tell the only restriction is 8 queries per second per IP which seems more than reasonable. I'm not sure the domains are entirely random, but the api is [here](https://github.com/CarloDePieri/pyma

[2021-12-13 22:48] bolshoytoster commented on #50
@cafeclimber

Don't worry, any suggestion is useful.

I'll see if I can add 10minutemail support now and I'll try mail.tm later if I have time.

[2021-12-14 00:01] cafeclimber commented on #50
@bolshoytoster I managed to get it working with mail.tm really easily. The only issue is it takes about 3-4 minutes for mail to come in.

Here's a minimal working example:

[code]

[2021-12-14 00:08] bolshoytoster commented on #50
@cafeclimber I didn't see the `get_account` function sorry. It takes ~10 seconds with guerrilla.

If you think the 3-4 minutes is worth it I can add this to [the email-verification branch](https://github.com/pws1453/KelloggBot/tree/email-verification)

[2021-12-14 00:15] cafeclimber commented on #50
No worries! Just wanted to make sure all the options were available. I think it could just be a backup option in the event domains start getting blocked, excessive guerilla queries, etc.

[2021-12-14 00:17] bolshoytoster commented on #50
@cafeclimber I can implement this as a `try: except` where it could fall back to mail.tm if there's an error.

[2021-12-14 03:02] KathrynElrod commented on #50
@pws1453 @bolshoytoster Awesome work, y’all - once you’re happy with it feel free to open a PR and I can review & merge

[2021-12-14 03:15] bolshoytoster commented on #50
@KathrynElrod I've literally just finished adding mail.tm support.

My fork has some experimental stuff from the #25 fork, so should I open the pr to here or to that fork?

[2021-12-14 03:20] pws1453 commented on #50
I can merge you into mine now, and we can merge mine if ya want

[2021-12-14 03:29] bolshoytoster commented on #50
@pws1453 alright, I'll open a pr to your `email-support` branch then you can merge that to main and hopefully merge the rest with this repo.

[2021-12-14 03:29] pws1453 commented on #50
okay cool send it over

[2021-12-14 03:31] bolshoytoster commented on #50
@pws1453 I've opened it https://github.com/pws1453/KelloggBot/pull/4

[2021-12-14 03:34] pws1453 commented on #50
merged into my main, status reflected in https://github.com/SeanDaBlack/KelloggBot/pull/25

[2021-12-14 03:36] bolshoytoster commented on #50
@pws1453 cheers, I'm going to go to bed now as it's 3:35 am.

[2021-12-14 04:39] KathrynElrod commented on #50
Closed by #25

[2021-12-14 04:39] #50 closed

[2021-12-14 04:45] tabrown2000 opened #53 "Please remove .DS_Store files and add to all .gitignore files"

[2021-12-14 05:10] #49 closed

[2021-12-15 07:41] #44 closed

[2021-12-15 07:49] sneakers-the-rat opened #56 "this is sick"
love what you've done here. am rearchitecting to make easier to extend for other unions in the future with some prior webscraping code i've written. absolutely LOVE the resume generator. would love to work together, solidarity forever <3

[2021-12-15 07:49] sneakers-the-rat commented on #56
PS i got `autoscab` on pypi lmao lets do this

https://pypi.org/project/autoscab/
https://github.com/sneakers-the-rat/autoscab

[2021-12-15 12:32] bolshoytoster commented on #56
We could take a dictionary of `{xpath: action}`, where `xpath` is a string and action is a class. There could be a base `action` class:
[code]
Then have two more:
[code]
[code]
Then have a function that takes the dictionary as input and carries out the actions, perhaps even in a loop:
[code]
This is a rough draft, it probably needs some more error handling but it’s probably best to let the user ha

[2021-12-15 16:48] #30 closed

[2021-12-15 17:26] KatDestroyer commented on #56
@sneakers-the-rat

Glad to hear it! I just merged in a branch that significantly improves the resume generation, it now uses LaTeX templates so they can all look nice and different.

[2021-12-15 17:28] KatDestroyer commented on #56
@bolshoytoster
I like the idea, but I'd be worried about that being limiting. It might be better to componentize the project into a set of tools - `resume_generator`, `captcha_solver`, `email_verifier`, etc. - which can be imported into a selenium project and used in-place.

[2021-12-15 17:38] #53 closed

[2021-12-15 17:50] bolshoytoster commented on #56
Fair enough, but if you just want to make a quick bot that's probably a good place to start, until people have time to make actual bots. Technically it could also work for purposes other than this but this is the main focus.

I think this would be a good idea, it also helps people quickly make bots, and it would also work with things other than selenium, if it's a bit too heavy for the particular

[2021-12-16 00:34] sneakers-the-rat commented on #56
yes! this is what i am doing ^^ will post here when i get a draft. Splitting into a bot that can take a set of selectors, an identity class that can do all the faking, and the resume generator with hooks for the identity class to use.

[2021-12-16 00:35] sneakers-the-rat commented on #56
I also think that trying to abstract the process further would take a bit of development time, i'm thinking of a programming interface that would be v familiar/usable by nonprogrammers (click thing, wait, type thing, wait, switch tabs, wait) and then we can do further abstraction depending on patterns that emerge

[2021-12-16 02:08] pws1453 commented on #56
Being able to extract the work done here into either a generalized program or build out some of the subroutines into external libraries would be extremely beneficial.  Is there a specific way we'd want to do this?

[2021-12-16 04:50] sneakers-the-rat commented on #56
Am working on a draft over here, though will need another day to get a full version, sorry to be cryptic: https://github.com/sneakers-the-rat/autoscab

[2021-12-16 21:50] stricoff92 opened #59 "Updates for installation readme"
I had some issues installing on Ubuntu/Mint and figured I'd share in case the maintainers here feel it's worth updating the readme.

**Chrome**
 - I was getting a driver error until I installed google chrome. Maybe this is obvious but I didn't initially know I needed the chrome app instaled.

**LaTeX**
 - the pdf command was hanging for me (no errors). It wasnt until I installed `texlive-full` tha

[2021-12-17 01:14] kylerchin opened #60 "Error "FAILED TO FILL OUT APPLICATION AND SUBMIT: [WinError 2] The system cannot find the file specified""
File not found?
I'm on Windows 11 using Python 3.10.0
Here's a portion of my logs:
[code]
I am using the latest master branch version.

[2021-12-17 03:24] sneakers-the-rat commented on #56
OK [autoscab 0.2.0 ](https://pypi.org/project/autoscab/)is up now. I'm totally fuzzyheaded right now, but basic organization

- `postbot:PostBot` is the main driver, it spawns the chromedriver and has some syntactical sugar to let people interact with the page by just using `self.<element>` calls, as well as a logger, etc. It takes...
    - a starting url,
    - a `locator_dict` -- a dictionary of

[2021-12-17 10:18] PokemonHacker1337 opened #61 "Maybe I'm just being dumb, but could I please have a hand?"
So I was trying to install and run KelloggBot, and I believe I have everything set up, all the files in the proper PATH, and such. Upon running python main.py in CMD, I get this:

`DevTools listening on ws://127.0.0.1:1684/devtools/browser/68f9b174-8099-4da8-80d1-689e36fae52b
FAILED TO START DRIVER: Message: session not created: This version of ChromeDriver only supports Chrome version 87
Current

[2021-12-17 10:26] bolshoytoster commented on #60
At `main.py`, line 276:
https://github.com/SeanDaBlack/KelloggBot/blob/11a9218d04d7d26f6e124b45062b5e961a52ec72/main.py#L275-L281
Can you replace that with just:
[code]
Notice that the line is indented by only 4 spaces rather than 8.

This will allow you to get the full stack trace, if you get the error again can you post the full error please.

[2021-12-17 16:52] bolshoytoster commented on #61
It looks like `ChromeDriverManager` got confused by the multiple versions of chrome. A workaround is to add `version="96.0.4664.110"` to `main.py` in the `start_driver` function at lines 56 && 59:
https://github.com/SeanDaBlack/KelloggBot/blob/11a9218d04d7d26f6e124b45062b5e961a52ec72/main.py#L55-L60
In both cases of `ChromeDriverManager().install()`, add `version="96.0.4664.110"` like so:
[code]
I

[2021-12-17 19:32] kylerchin commented on #60
[code]

[2021-12-17 19:35] bolshoytoster commented on #60
Thanks, I'll have a look.

[2021-12-17 19:44] bolshoytoster commented on #60
It appears to come from `resume_maker.py`:
https://github.com/SeanDaBlack/KelloggBot/blob/11a9218d04d7d26f6e124b45062b5e961a52ec72/resume_faker.py#L2131-L2138
The annoying thing about windows errors is that they're really vague.

Have you got `pdflatex` installed?
You can make sure it's working properly by running `pdflatex` in your command prompt.

[2021-12-17 21:38] bolshoytoster commented on #59
#60 is the same issue, I think installing `texlive-latex-base` is enough (still ~174 mb).

I've opened a [pr](https://github.com/SeanDaBlack/KelloggBot/pull/62) editing the README.

[2021-12-18 18:39] demarcusw commented on #61
That version is not found on macOS for whatever reason. Got the following error:

`FAILED TO START DRIVER: There is no such driver by url https://chromedriver.storage.googleapis.com/96.0.4664.110/chromedriver_mac64.zip`

This did work however:

`ChromeDriverManager(version="96.0.4664.45").install()`
* https://chromedriver.storage.googleapis.com/index.html?path=96.0.4664.45/

[2021-12-19 00:44] PokemonHacker1337 commented on #61
Like this?
[code]

I got the same error, so I decided to just delete the portable version of Chrome to stop confusing the program, and I got this:

`FAILED TO START DRIVER: There is no such driver by url https://chromedriver.storage.googleapis.com/96.0.4664.110/chromedriver_win32.zip
USING GUERRILLA TO CREATE EMAIL
EMAIL CREATED
FAILED TO CREATE ACCOUNT: local variable 'driver' referenced before a

[2021-12-19 00:51] bolshoytoster commented on #61
@PokemonHacker1337
Refer to @demarcusw's answer:

It's my fault for not checking the url first, you should use `version="96.0.4664.45"` instead.

[2021-12-19 00:59] PokemonHacker1337 commented on #61
I did do that. The same thing happened, so I decided to just download a fresh copy and try again, and I partially got it working, at least until I ran into a new problem. Should I describe the new problem here, or do I open a new issue? Sorry, I'm new to GitHub.

[2021-12-19 01:15] bolshoytoster commented on #61
@PokemonHacker1337

Normally it'd probably be best to open a new issue, but you may as well post it here now.

[2021-12-19 01:23] PokemonHacker1337 commented on #61
I appreciate the help @bolshoytoster.

I wanted to watch it in debug mode to see what happens in real time, so I enabled the --debug switch, just for fun. When the program got to the part of the website where it was waiting to hear back from the email by giving a 1 time use password, it eventually threw an error and gave up. It claims that it cannot find a file, but I'm unsure which file they are

[2021-12-19 01:26] bolshoytoster commented on #61
At `main.py`, line 276:

https://github.com/SeanDaBlack/KelloggBot/blob/11a9218d04d7d26f6e124b45062b5e961a52ec72/main.py#L275-L281

Can you replace that with just:
[code]

Notice that the line is indented by only 4 spaces rather than 8.

This will allow you to get the full stack trace, if you get the error again can you post the full error please.

[2021-12-19 01:42] PokemonHacker1337 commented on #61
I have followed those directions, and it works quite a bit more. The first 2 that it did worked perfectly fine, assuming that it is supposed to end once it says that it successfully made an account for the fake email.
`DevTools listening on ws://127.0.0.1:1057/devtools/browser/5359d608-a4ec-4cfe-8b3c-afc0423f8f61
[13516:11096:1218/203202.782:ERROR:chrome_browser_main_extra_parts_metrics.cc(226)] c

[2021-12-19 01:52] bolshoytoster commented on #61
@PokemonHacker1337

It looks like a call to `api.guerrillamail.com` fails.

I've fixed this on [my fork](https://github.com/bolshoytoster/KelloggBot) if you want to download that instead and I have a related pull request (#62). If you don't want to, a workaround would be to run `main.py` from the command line with `--mailtm` to use mail.tm instead of guerrillamail.

[2021-12-19 03:32] PokemonHacker1337 commented on #61
So far, I left the fork running for a few minutes, and I haven't seen any issues. I'll get back to you if I have any issues with the fork. Thanks for the help.

[2021-12-20 03:11] #61 closed, assigned to nobody

[2021-12-21 01:05] mangoALCATRAZ commented on #60
I looked into this and here is what I found. When pdflatex is called by subprocess.call() within resume_faker.py, sometimes it runs into an issue where the fonts it relies on needed by the tex/pdf generation are not installed. Because of this, pdflatex ends up returning with an error and NOT turning the generated tex into a pdf. Therefore, on line 2138 when it attempts to rename auto_resume.pdf, t

[2021-12-21 01:52] bolshoytoster commented on #60
@mangoALCATRAZ

My pr doesn't really address this, I'll add this in.

[2021-12-21 23:35] bolshoytoster opened #65 "Well, it's over."
The striking workers have [come to an agreement](https://bctgm.org/2021/12/21/kelloggs-strike-ends-bctgm-members-ratify-new-contract/) with kelloggs. We can still work on this as a more general bot (see #56), but for now, we have succeeded.

[2021-12-23 01:51] kylerchin commented on #65
Good job everyone! I hope you are all really proud of yourselfs for spending countless hours coding and running this bot. Together, we saved 3000 jobs. 3000 families that get to have Christmas presents and get fair wages and jobs.

**solidarity forever**

[2021-12-26 03:25] demarcusw commented on #65
🖤

[2022-02-09 00:27] jmrushing opened #66 "Starbucks fires workers attempting to unionize, next steps?"
In light of [today's news](https://www.bbc.com/news/business-60312013), is anyone involved in forking this project for a Starbucks-specific re-write? Or is there any other projects working on something similar? Seems like now would be a good time to get on top of it, since the location that fired the workers will likely be trying to hire scabs soon. Thoughts?

[2022-02-09 07:48] bolshoytoster commented on #66
@jmrushing do you know if there's a site they're using to hire people?